/* Required Menu CSS */
.js-menu__context {
    background: rgba(0,0,0, 0.5);
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s, visibility 0.5s;
    visibility: hidden;
    width: 100% !important;
    height: 100%;
    z-index: 999999;
    max-width: 100% !important;
}

.js-menu {
    color: #000;
    position: absolute;
    height: 100%;
    width: 25%;
    max-width: 85vw;
    margin: 0;
    background: #fff;
    z-index: 99;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    transition: background 0.5s, transform 0.5s;
}

.js-menu--left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.js-menu--right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    position: absolute;
    right: 0;
}
.js-menu__open {
    cursor: pointer;
    float: right;
    right: 10px;
    position: sticky;
    background-color: #eee;
    border-radius: 50%;
    padding:10px;
    bottom:0;
    z-index: 99999999;
}

.js-menu__right_pos{
    right:25% !important;
}

.js-menu_right{
    right: 438px;
}

.js-menu__close {
    cursor: pointer;
}

.js-menu__expanded {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    z-index: 9999999;
}

.js-wsc-items-count {
    border-radius: 50%;
    position: absolute;
    font-size: 13px;
    width: 25px;
    height: 25px;
    line-height: 28px;
    text-align: center;
    overflow: hidden;
    top: -12px;
    left: -12px;
    background-color: #000000;
    color: #ffffff;
}

.xoo-wsc-header {
    color: #000000;
    background-color: #f8f8f8;
    padding: 15px;
}
.xoo-wsch-top {
    justify-content: center;
}
.xoo-wsch-top {
    /*    display: flex;*/
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.xoo-wsch-top .xoo-wsch-basket {
    display: table;
    position: relative;
}
.xoo-wscb-icon {
    font-size: 37px;
}
.xoo-wsc-icon-bag2::before {
    content: "\e910";
}
span.xoo-wsch-text {
    margin-left: 8px;
}
.xoo-wsch-text {
    font-size: 20px;
}
span.xoo-wsch-close {
    font-size: 16px;
    right: 10px;
    float: right;
    margin-top: 12px;
}
.xoo-wsc-products {
    margin-bottom: 20px;
}
.xoo-wsc-modal * {
    box-sizing: border-box;
}
.xoo-wsc-product {
    padding: 20px 15px;
}
.xoo-wsc-product {
    display: flex;
    border-bottom: 1px solid #eee;
}
.xoo-wsc-img-col {
    width: 35%;
    align-self: center;
}
.xoo-wsc-body, .xoo-wsc-body span.amount, .xoo-wsc-body a {
    font-size: 16px;
    color: #000000;
}
.xoo-wsc-body {
    flex-grow: 1;
    overflow: auto;
}
.xoo-wsc-img-col img {
    width: 100%;
    height: auto;
}
.xoo-wsc-sum-col {
    justify-content: center;
}
.xoo-wsc-sum-col {
    width: 65%;
}
.xoo-wsc-sum-col {
    flex-grow: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.xoo-wsc-sm-sales {
    text-transform: uppercase;
    border: 1px solid #333;
    padding: 2px 10px;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 10px;
}
.xoo-wsc-sm-info {
    display: flex;
    min-width: 0;
}
.xoo-wsc-sm-left {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 0;
}
.xoo-wsc-sm-left > :not(:last-child) {
    padding-bottom: 4px;
}
span.xoo-wsc-pname, span.xoo-wsc-pname a {
    font-weight: 600;
}
.xoo-wsc-qty-box.xoo-wsc-qtb-square {
    border-color: #000000;
    height: 28px;
}
.xoo-wsc-ship-bar-cont {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.xoo-wsc-sb-bar {
    height: 8px;
    width: 90%;
    background-color: #eeee;
    border-radius: 7px;
    display: table;
    margin: 0 auto;
    margin-top: 10px;
}
.xoo-wsc-sb-bar > span {
    background-color: #000000;
}
.xoo-wsc-sb-bar > span {
    display: block;
    z-index: 1;
    height: inherit;
}
.xoo-wsc-qty-box {
    max-width: 75px;
}
.xoo-wsc-qty-box {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90px;
    width: 100%;
    flex-direction: row;
}
.xoo-wsc-chng {
    background-color: #ffffff;
    color: #000000;
}
.xoo-wsc-modal * {
    box-sizing: border-box;
}
span.xoo-wsc-chng {
    min-width: 18px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
}
input[type="number"].xoo-wsc-qty{
    margin-top: 15px;
    height: 25px !important;
}
input[type="number"].xoo-wsc-qty, .xoo-wsc-qtb-square {
    border-width: 1px;
    border-style: solid;
}
.xoo-wsc-basket {
    bottom: 12px;
    right: 0px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0;
    border-radius: 50%;
}
input[type="number"].xoo-wsc-qty {
    border-color: #000000;
    background-color: #ffffff;
    color: #000000;
    height: 28px;
    width: 50px;
    line-height: 28px;
}
.xoo-wsc-chng{
    /*    border: solid 1px;*/
    border-top: 0px;
    border-bottom: 0px;
}
.xoo-wsc-basket {
    padding: 10px 12px;
    margin: 10px;
    z-index: 9999999;
    cursor: pointer;
    position: fixed;
    transition: 0.5s;
    display: none;
}
.xoo-wsch-text{width: 100%;}
span.xoo-wsc-smr-del {
    cursor: pointer;
}
.xoo-wsc-pname a{
    font-size: 15px;
    text-decoration: none;
}
.xoo-wsc-pprice{font-size: 16px;}
.xoo-wsc-body, .xoo-wsc-body span.amount, .xoo-wsc-body a {
    font-size: 16px;
    color: #000000;
}
.xoo-wsc-body {
    background-color: #ffffff;
    margin-bottom: 95px;
}
.xoo-wsc-sm-right {
    align-items: flex-end;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30px;
}
.xoo-wsc-smr-ptotal{font-size: 15px !important;}
.xoo-wsc-qty{text-align: center; font-size: 16px;}
/* Chrome, Safari, Edge, Opera */
.xoo-wsc-product input::-webkit-outer-spin-button,
.xoo-wsc-product input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.xoo-wsc-product input[type=number] {
    -moz-appearance: textfield;
}

div.xoo-wsc-footer {
    z-index: 1;
    position: sticky;
    bottom: 0;
}
.xoo-wsc-footer, .xoo-wsc-footer a, .xoo-wsc-footer .amount {
    font-size: 15px;
}
.xoo-wsc-footer {
    background-color: #f8f8f8;
    color: #000000;
    padding: 10px 20px;
}
.xoo-wsc-ftx-row {
    padding: 8px 0;
    border-top: 1px solid #f3f3f3;
    font-size: 14px;
    display: flex;
    z-index: 99999999;
    align-items: center;
    border-bottom: 1px solid #f3f3f3;
}
span.xoo-wsc-ftx-icon {
    margin-right: 5px;
    font-size: 17px;
}
.xoo-wsc-toggle-slider {
    cursor: pointer;
}
.xoo-wsc-ftx-row {
    font-size: 14px;
}
.xoo-wsc-ft-totals {
    width: 100%;
    padding: 10px 0;
}
.xoo-wsc-ft-amt {
    padding: 3px;
    display: flex;
    justify-content: space-between;
}
.xoo-wsc-sl-body button{letter-spacing: 0px !important;}
.xoo-wsc-ft-amt-label {
    flex-grow: 1;
    padding-right: 10px;
}
.xoo-wsc-ft-amt-value {
    text-align: right;
}
.xoo-wsc-footer, .xoo-wsc-footer a, .xoo-wsc-footer .amount {
    font-size: 15px;
}
.xoo-wsc-ft-amt {
    padding: 3px;
    display: flex;
    justify-content: space-between;
}
.xoo-wsc-ft-buttons-cont {
    margin-bottom: 50px !important;
}
.xoo-wsc-ft-buttons-cont a{
    letter-spacing: 0px !important;
}
.xoo-wsc-ft-buttons-cont {
    text-align: center;
    grid-column-gap: 10px;
    margin-top: 10px;
    grid-row-gap: 10px;
    width: 65%;
    margin: 0 auto;
}
a.xoo-wsc-ft-btn {
    color: #fff;
    border-color: #eee;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none !important;
    width: 100%;
    float: left;
    margin-top: 10px !important;
    padding: 15px;
}
.xoo-wsc-ft-btn:hover {
    text-decoration: none !important;
}
.xoo-wsc-footer, .xoo-wsc-footer a, .xoo-wsc-footer .amount {
    font-size: 15px;
}
.empty_cart{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
.xoo-wsc-ft-amt-total {
    border-top: 1px dashed #9E9E9E;
    margin-top: 5px;
    padding-top: 5px;
}

/*promo code*/
.xoo-wsc-sl-body {
    padding: 10px 20px;
    flex-grow: 1;
    overflow: auto;
    display:none;
}
form.xoo-wsc-sl-apply-coupon {
    width: 100%;
    justify-content: center;
    align-items: stretch;
    margin: 20px 0;
    flex-wrap: wrap;
}
form.xoo-wsc-sl-apply-coupon button{
    font-size: 15px;
    padding: 8px;
    color: #fff !important;
    /*    background-color: #000 !important;*/
    border-color: currentColor;
}
.xoo-wsc-sl-body input[type="text"]{
    /*    padding: 0.4480469716em;*/
    background-color: #f2f2f2;
    color: #43454b;
    border: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: normal;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
    width: 95%;
    margin-bottom: 5px;
}
.xoo-wsc-modal button, .xoo-wsc-slider-modal button, .xoo-wsc-modal a.button, .xoo-wsc-slider-modal a.button {
    background-color: #000000;
    border-color: #eeeeee;
    color: #ffffff;
}
.xoo-wsc-clist-section {
    border: 1px solid #eee;
    margin-bottom: 35px;
    font-size: 13px;
    padding: 0 25px;
}
span.xoo-wsc-clist-label {
    text-transform: uppercase;
    color: #777;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    margin: 20px 0;
    text-align: center;
}
.xoo-wsc-clist-cont .xoo-wsc-coupon-row{
    margin-bottom: 10px;
}
.promo-close{cursor: pointer; display: none;}
.xoo-wsc-ft-amt-discount span{color: green;}

/*cart drawer loader animation*/
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:99999999;
    display:none;
}
.xoo-wsc-coupon-row:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
span.xoo-wsc-cr-code {
    text-transform: uppercase;
    border: 1px solid;
    text-align: center;
}
.xoo-wsc-coupon-row > span {
    display: block;
    margin-bottom: 9px;
}

span.xoo-wsc-cr-off {
    color: #4CAF50;
    font-weight: 600;
    margin-bottom: 0;
}
.xoo-wsc-coupon-apply-btn{
    padding: 8px !important;
    font-size: 15px;
    color: #fff !important;
    margin-bottom: 10px;
    border-color: currentColor;
}
.xoo-wsc-coupon-apply-btn:hover{
    padding: 8px;
}
.xoo-wsc-cr-code{
    text-transform: uppercase;
}
.xoo-wsc-coupon-row {
    padding: 7px 16px 6px;
    border-bottom: 1px dashed #afafaf;
    margin-bottom: 30px;
    text-align: center;
}
.show-coupon b{font-weight: 600; font-size: 15px;}
.show-coupon span{text-transform: uppercase; cursor: pointer;}
#invalid_coupon{display: none; color: red; font-size: 12px; font-weight: 400;}
#promo_code{width: 90%;font-weight: bold;}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

@media (max-width: 767px){
    .js-menu{width: 75%;}
    .js-menu__right_pos{right: 75% !important;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    .js-menu{width: 50%;} 
    .js-menu__right_pos{right: 50% !important;}
}